<div class="app-wrapper special-style">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <a routerLink="/" class="logo">Bank</a>

      <span class="non-production-warning">
        <a  title=""></a>
      </span>

      <span >
        <button class="login" mat-button routerLink="/login" routerLinkActive="active">Login</button>
        <button class="register" mat-button  routerLink="/register" routerLinkActive="active">Register</button>
        <span class="between-distance" ></span>
      </span>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/about" routerLinkActive="active">
          <mat-icon>info</mat-icon>
          <span>about</span>
        </button>
        <button mat-menu-item routerLink="/legalnotice" routerLinkActive="active">
          <mat-icon>info</mat-icon>
          <span>legalnotice</span>
        </button>
        <button mat-menu-item routerLink="/privacy" routerLinkActive="active">
          <mat-icon>info</mat-icon>
          <span>privacy</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>